@using WebApplication77.Models
@model WebApplication77.Models.EmployeEndanceAndDeparture

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <input type="date" />
    <input type="date" />
    <button> select </button>
    <br />
    <table class="table-bordered table-striped table-responsive">
        <tr>
            <td>
            <td> Section </td>
            <td> employeeName </td>
            <td> attendanceTime </td>
            <td> departureTime </td>
            <td> Date </td>
        </tr>
        <tr>
            <td>
            <td> Arabic </td>
            <td> Mohamed </td>
            <td> 4AM </td>
            <td> 17PM </td>
            <td> 11/2/2022 </td>
        </tr>
        <tr>
            <td>
            <td> Arabic </td>
            <td> Adel </td>
            <td> 4AM </td>
            <td> 18PM </td>
            <td> 11/2/2022 </td>
        </tr>
        <tr>
            <td>
            <td> English </td>
            <td> kamal </td>
            <td> 4AM </td>
            <td> 16PM </td>
            <td> 11/2/2022 </td>
        </tr>
        <tr>
            <td>
            <td> Arabic </td>
            <td> hady </td>
            <td> 4AM </td>
            <td> 18PM </td>
            <td> 11/2/2022 </td>
        </tr>
        <tr>
            <td>
            <td> English </td>
            <td> bila </td>
            <td> 4AM </td>
            <td> 17PM </td>
            <td> 11/2/2022 </td>
        </tr>
        <tr>
            <td>
            <td> English </td>
            <td> Ahmed </td>
            <td> 4AM </td>
            <td> 17PM </td>
            <td> 11/2/2022 </td>
        </tr>
        <tr>
            <td>
            <td> Arabic </td>
            <td> Gogo </td>
            <td> 4AM </td>
            <td> 17PM </td>
            <td> 11/2/2022 </td>
        </tr>
    </table>

</body>
</html>
