@using WebApplication77.Models 
@model WebApplication77.Models.Usergroup

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div>

        <button> save </button>
        <input type="text" />
        <br />
        <table class="table-bordered table-striped tab-content">
            <tr>
                <td> page </td>
                <td> insert </td>
                <td> delete </td>
                <td> Edit </td>
                <td> select </td>
            </tr>
            <tr>
                <td> Employee </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
            </tr>
            <tr>
                <td> Setting </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
            </tr>
            <tr>
                <td> AttendanceandDaparture </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
            </tr>
            <tr>
                <td> Salary </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
            </tr>
        </table>
    </div>
</body>
</html>
